<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <h3>All Data Display</h3>
    <table>
        {% if data %}
            {% for val in data %}
                <tr>
                    <td>{{ val.store_name }}</td>
                    <td>{{ val.location_name }}</td>
                    <td>{{ val.department_name }}</td>
                    <td>{{ val.category_name }}</td>
                    <td>{{ val.sub_category_name }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p> No Data Found </p>
        {% endif %}
    </table>
</body>
</html>